@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* line 2, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
body {
  background: linear-gradient(#49a09d, #5f2c82);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

/* line 13, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#header {
  background: linear-gradient(#5f2c82, #49a09d);
  width: 100%;
  font-weight: bold;
}

/* line 19, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#header .navbar .navbar__img {
  width: 100px;
}

/* line 23, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#navbarNav .nav-link {
  color: ghostwhite;
}

/* line 27, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

/* line 31, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-primary {
  background-color: #5f2c82;
  box-shadow: 0px 0px 15px -6px black;
  color: ghostwhite;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  margin-left: 90px;
}

/* line 40, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-primary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: ghostwhite;
  background-color: #49a09d;
  border-color: transparent;
}

/* line 48, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-secondary {
  background-color: transparent;
  box-shadow: 0px 0px 15px -6px black;
  color: ghostwhite;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  text-align: left;
}

/* line 58, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-secondary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: ghostwhite;
  background-color: #49a09d;
  border-color: transparent;
}

/* line 66, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.navbar-nav li:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 73, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.textoimg h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50px;
  color: black;
  text-align: left;
  margin: 60px 0px 0px 20px;
}

/* line 81, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.textoimg p {
  margin-left: 30px;
  font-weight: bold;
  font-size: 25px;
}

/* line 87, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.videoplayer {
  height: 70vh;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 95, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.subtituloiphone h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

/* line 102, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
h1 {
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 15px;
  background-color: rebeccapurple;
}

/* line 112, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.titulo h1 {
  background-color: darkturquoise;
  font-weight: bold;
  color: #000;
}

/* line 118, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
h2 {
  color: #ff477e;
  padding: 15px;
  color: ghostwhite;
  font-size: 20px;
  font-weight: bold;
}

/* line 126, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
h3 {
  padding: 15px;
  color: papayawhip;
  font-size: 18px;
}

/* line 132, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
h4 {
  color: #ff477e;
  font-weight: bold;
}

/* line 137, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.parrafos {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  color: papayawhip;
  height: 200px;
  box-shadow: 7px 13px 37px whitesmoke;
}

/* line 148, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#grilla {
  display: grid;
  grid-template-areas: "iphone ipad macbook" "watch . airpods";
  grid-template-columns: 3fr 0fr 3fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  height: 100vh;
  margin: 20px;
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
  color: ghostwhite;
}

/* line 165, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.iphone {
  grid-area: iphone;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 172, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.iphone:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 178, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.ipad {
  grid-area: ipad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 185, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.ipad:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 191, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.macbook {
  grid-area: macbook;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 198, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.macbook:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 204, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.watch {
  grid-area: watch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
}

/* line 213, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.watch:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 219, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.airpods {
  grid-area: airpods;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
}

/* line 228, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.airpods:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 234, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.showroom {
  max-width: 100%;
  height: 40rem;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

/* line 242, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.subtitulo {
  background-color: #ff477e;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* line 249, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#textFormat {
  padding: 50px;
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
  color: papayawhip;
  line-height: 1.5;
  box-shadow: 7px 13px 37px whitesmoke;
}

/* line 259, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.texto {
  font-size: 20px;
  color: #606c38;
  text-align: center;
}

/* line 265, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 271, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.datos h2, h3 {
  text-align: center;
}

/* line 275, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#contenedor {
  padding-top: 50px;
  max-width: 1280px;
  margin-bottom: 20px;
}

/* line 281, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#contenedor h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff477e;
  background-color: papayawhip;
}

/* line 290, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#contenedor h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
}

/* line 297, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#contenedor .productos {
  max-width: 800px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 307, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#contenedor .productos .boxproducto {
  width: 40%;
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: yellow;
}

/* line 316, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#contenedor .productos .boxproducto .tachado {
  color: whitesmoke;
  text-decoration: line-through;
}

/* line 321, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
form {
  padding: 20px;
  line-height: 3.0;
  font-weight: bold;
}

/* line 327, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.info {
  margin-bottom: 40px;
  text-align: center;
}

/* line 332, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#pie {
  background-color: none;
  height: 80px;
  width: 100%;
  bottom: 0px;
}

/* line 339, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#pie .redes {
  width: 80%;
  max-width: 1280px;
  margin: auto;
  display: block;
  width: 200px;
  float: center;
}

/* line 348, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#pie .redes img {
  display: block;
  width: 60%;
  margin: auto;
}

/* line 354, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.contenedor {
  background-color: papayawhip;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #5f2c82;
  box-shadow: 7px 13px 37px whitesmoke;
}

/* line 368, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.control {
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* line 379, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.boton {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: #49a09d;
  font-size: 15px;
}

/* line 391, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 397, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.boton:active {
  transform: translateY(3px);
}

/* line 401, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.control:focus {
  height: 60px;
}

/* line 405, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer {
  background: linear-gradient(#49a09d, #5f2c82);
  height: 80px;
  width: 100%;
  font-weight: bold;
}

/* line 412, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer .botonera {
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

/* line 418, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer .botonera ul {
  list-style: none;
  margin-left: 70px;
  margin-top: 20px;
  float: left;
}

/* line 426, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer .botonera ul li {
  display: inline-block;
  margin-right: 60px;
}

/* line 431, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.botonera ul li:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 437, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer .botonera ul li a {
  text-decoration: none;
}

/* line 441, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.linkNav {
  color: white;
}

/* line 445, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.linkNavActivo {
  color: papayawhip;
  font-weight: bold;
}

@media all and (max-width: 992px) {
  /* line 452, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .productapple {
    background-image: url("../media/iphonemorado.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 462, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .showroom {
    max-width: 100%;
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  /* line 472, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .productapple {
    background-image: url("../media/iphonemorado.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 482, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .showroom {
    max-width: 100%;
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  /* line 489, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #footer .botonera {
    width: 80%;
    max-width: 1280px;
    margin: 0;
  }
  /* line 494, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #footer .botonera ul li {
    display: block;
  }
}

@media all and (max-width: 575px) {
  /* line 500, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .productapple {
    background-image: url("../media/iphonemorado.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* line 510, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .textoimg h3 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: left;
    margin: 60px 0px 0px 20px;
  }
  /* line 518, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .textoimg p {
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;
  }
  /* line 523, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .showroom {
    max-width: 100%;
    height: 12rem;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
  }
  /* line 530, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #grilla {
    display: grid;
    grid-template-areas: "iphone"  "ipad"  "macbook" "watch"  "airpods";
    grid-template-rows: 2fr;
    grid-row-gap: 40px;
    height: 170vh;
    margin-top: 20px;
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
  }
  /* line 546, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .parrafos {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    color: papayawhip;
    height: 300px;
    box-shadow: 7px 13px 37px whitesmoke;
    margin-bottom: 20px;
  }
  /* line 557, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  .videoplayer {
    width: 350px;
    height: 415px;
    display: flex;
    margin: auto;
  }
  /* line 563, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #contenedor .productos {
    max-width: 800px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 572, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #contenedor .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: yellow;
  }
  /* line 580, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #footer .botonera {
    width: 80%;
    max-width: 1280px;
    margin: 0;
  }
  /* line 585, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #footer .botonera ul li {
    display: block;
  }
}

/*# sourceMappingURL=estilos.css.map */