@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");
/* line 1, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
body {
  background: linear-gradient(#5f2c82, #49a09d);
  color: ghostwhite;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

/* line 10, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#header .navbar {
  background: linear-gradient(#5f2c82, #49a09d);
}

/* line 12, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#header .navbar .navbar__img {
  width: 100px;
}

/* line 19, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#navbarNav .nav-link {
  color: ghostwhite;
}

/* line 24, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

/* line 28, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-secondary {
  background-color: mediumpurple;
  box-shadow: 0px 0px 15px -6px black;
  color: ghostwhite;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
}

/* line 30, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-secondary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: ghostwhite;
  background-color: yellowgreen;
  border-color: transparent;
}

/* line 39, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#carousel {
  height: 720px;
}

@media all and (max-width: 675px) {
  /* line 39, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #carousel {
    width: 350px;
    height: 215px;
  }
}

/* line 45, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#carousel .imacCar {
  color: #000;
  font-size: 1.5rem;
}

/* line 55, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#carousel .ipadPro2021Car {
  color: ghostwhite;
  font-size: 1.5rem;
}

/* line 66, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-primary {
  background-color: mediumpurple;
  box-shadow: 0px 0px 15px -6px black;
  color: ghostwhite;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
}

/* line 68, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.btn-primary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: ghostwhite;
  background-color: yellowgreen;
  border-color: transparent;
}

/* line 78, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#iphone12 .iphone12__titulo {
  font-size: 2.5rem;
  text-align: center;
  margin: 30px 0px 40px 0px;
}

/* line 84, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#iphone12 .iphone12__video {
  display: flex;
  justify-content: center;
  height: 80vh;
}

@media all and (max-width: 675px) {
  /* line 84, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
  #iphone12 .iphone12__video {
    width: 350px;
    height: 415px;
    display: flex;
    margin: auto;
  }
}

/* line 96, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.row {
  margin: 0px;
}

/* line 99, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.card {
  text-align: center;
}

/* line 101, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.card .card-body {
  line-height: 2;
}

/* line 107, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer .botonera ul {
  display: flex;
}

/* line 110, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer .navbar {
  background-color: mediumpurple;
  height: 100px;
}

/* line 114, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
#footer .navbar-nav {
  margin: auto;
}

/* line 120, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.type-light {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

/* line 120, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.type-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

/* line 120, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.type-bold {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

/* line 127, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.text-xsm {
  font-size: 10px;
}

/* line 127, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.text-sm {
  font-size: 16px;
}

/* line 127, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.text-md {
  font-size: 20px;
}

/* line 127, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.text-lg {
  font-size: 30px;
}

/* line 127, ../../../../../Users/manuelmac/Desktop/desarrollo_web/desafio_16/scss/_main.scss */
.text-xlg {
  font-size: 45px;
}

/*# sourceMappingURL=estilos.css.map */