body{
	background: $primero1;
	color: $tercero;
	font-family: $fuente;
	font-weight: 400;

}

#header{
	.navbar{
		background: $primero1;
		.navbar__img{
			width: 100px;
		}
	}
}

#navbarNav{
	.nav-link{
		color: $tercero;
		font-size: $size-md;
	}
	.text-md{
		font-size: $size-md;
	}
}

.navbar-expand-lg .navbar-collapse{
	justify-content: center;
}

.btn-secondary{
	@include boton;
	&:hover{
        box-shadow: 0px 0px 0px -6px black;
        text-decoration: none;
        color: $tercero;
        background-color: yellowgreen;
        border-color: $cuarto;
    }
}

h1, h2, h3{
	text-align: center;
	margin-top: $size-sm;
	margin-bottom: $size-sm;
}

h3{
	font-size: $size-md;
}


#productapple{
	background-image: url("../media/iphonemorado.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: row;
	box-shadow: 7px 15px 37px whitesmoke;
	.textoimg{
		font-family: Helvetica;
		font-weight: bold;
		font-size: 50px;
		color: black;
		text-align: left;
		margin: 60px 0px 0px 20px;
		h3{
			font-size: $size-lg;
		}
	}
	p{
		font-weight: bold;
		font-size: 25px;
	}
}

@media all and (max-width: 575px){
	#productapple{
		background-image: url("../media/iphonemorado.jpg");
		background-repeat: no-repeat;
		width: 350px;
		height: 415px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

.btn-primary{
	margin-left: 80px;
	@include boton;
	&:hover{
        box-shadow: 0px 0px 0px -6px black;
        text-decoration: none;
        color: $tercero;
        background-color: yellowgreen;
        border-color: $cuarto;
    }
}
	
.videoplayer{
	display: flex;
	justify-content: center;
	height: 80vh;
	@media all and (max-width: 675px){
		width: 350px;
		height: 415px;
		display: flex;
		margin: auto; 
		}	
}

.row{
	margin: 0px;
}
.card{
	text-align: center;
	.card-body{
		line-height: 2;
	}
}

#footer{
	.botonera ul{
		list-style: none;
		display: flex;
		justify-content: center;
		font-size: $size-md;
		li{
			padding: 10px;
			a{
				color: $tercero;
			}
		}
  	}
}
















