$primero: mediumpurple;
$primero1: linear-gradient(#5f2c82, #49a09d);
$segundo: #000;
$tercero: ghostwhite;
$cuarto: transparent;
$fuente: 'Oswald' ,sans-serif;
$weight:('light': 300, 'regular': 400, 'bold': 600);
$sizes:('xsm': 10px, 'sm': 16px, 'md': 20px, 'lg': 30px, 'xlg': 45px)

