$primero: mediumpurple;
$primero1: linear-gradient(#5f2c82, #49a09d);
$segundo: #000;
$tercero: ghostwhite;
$cuarto: transparent;
$fuente: 'Oswald' ,sans-serif;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;
$size-xsm: 10px;
$size-sm: 16px;
$size-md: 20px;
$size-lg: 30px;
$size-xlg: 45px;

